<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629462508053-8kuiml73n92p7e47jvht0jptk3ibisnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629462508053-8kuiml73n92p7e47jvht0jptk3ibisnk</string>
	<key>API_KEY</key>
	<string>AIzaSyD8hLwVARTbeTw73Fge5pwau9GDYcENbWM</string>
	<key>GCM_SENDER_ID</key>
	<string>629462508053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmr.imovers</string>
	<key>PROJECT_ID</key>
	<string>imovers-d107a</string>
	<key>STORAGE_BUCKET</key>
	<string>imovers-d107a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629462508053:ios:dec119f6c4a6863f6d241c</string>
</dict>
</plist>